.days-container {
    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing) / 2);
    gap: var(--spacing);
}

.attractions-container {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.attraction-title::before {
  cursor: pointer;
  /* content: "⭐"; */
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.day-card {
    border: 1px solid blue;
}